* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.place {
  width: 100%;
  min-height: 100vh;
  padding: 20px 10px;
}

.place .tmsn {
  cursor: pointer;
}

.place .tmsn img {
  height: 100px;
  width: 100px;
}

.poi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

@media (max-width: 1040px) {
  .poi {
    -ms-grid-columns: (minmax(33.3333%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(33.3333%, 1fr));
  }
}

@media (max-width: 900px) {
  .poi {
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media (max-width: 680px) {
  .poi {
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.poi .category {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

.poi .category .place_info {
  margin: 10px 0;
}

.poi .category h1 {
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.center-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-wrapper {
  position: relative;
  min-width: 250px;
  height: 100%;
}

.sidebar-wrapper .sidebar {
  position: fixed;
  background-color: white;
  width: 250px;
  height: 100vh;
  min-width: 200px;
  overflow: scroll;
}

.sidebar-wrapper .sidebar .search {
  padding-bottom: 20px;
}

.sidebar-wrapper .sidebar .search input {
  width: 100%;
  height: 35px;
  border-radius: 30px;
  text-align: center;
  border: 0;
}

.sidebar-wrapper .sidebar ul li {
  list-style: none;
  font-size: 1rem;
  padding: 5px 0;
}

.sidebar-wrapper .sidebar ul li:hover {
  background-color: black;
}

.sidebar-wrapper .sidebar ul li:hover a {
  color: white;
}

.sidebar-wrapper .sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.sidebar-wrapper .sidebar .container {
  padding: 10px;
}

.sidebar-wrapper .sidebar .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-wrapper .sidebar .nav {
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.sidebar-wrapper .sidebar .nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.sidebar-wrapper .sidebar .nav span img {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.sidebar-wrapper .sidebar .nav span .larger-svg {
  height: 50px;
  width: 50px;
}

.MuiCheckbox-root {
  padding: 0 !important;
}
/*# sourceMappingURL=style.css.map */