* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.place {
    width: 100%;
}

.sidebar {
    position: sticky;
    background-color: green;
    width: 300px;
    height: 100vh;
    min-width: 300px;

    .search {
        padding-bottom: 20px;

        input {
            width: 100%;
        }
    }

    ul {
        li {
            list-style: none;
            font-size: 1.7rem;
            text-align: center;
            padding: 5px 0;
            a{
                text-decoration: none;
                color: #2d2d2d;
                &:hover{
                    color: white;
                }
            }
        }
    }

    .container {
        padding: 20px;
    }

    .nav {
        font-size: 2rem;
        display: inline-block;
        text-align: center;
        width: 100%;
        padding-top: 20px;
        span {
            margin: 10px 10px;
        }
    }
}