@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik';
  color: #eceff4;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.main.closed .sidebar-wrapper {
  -webkit-transform: translateX(-270px);
          transform: translateX(-270px);
}

.main.closed .sidebar-wrapper .colapse {
  -webkit-transform: translateX(65px);
          transform: translateX(65px);
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
  background-color: #353c4b;
}

.main.closed .place {
  margin-left: 0;
}

.place, .sidebar-wrapper {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  overflow: visible;
}

.place {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #242933;
  margin-left: 270px;
  z-index: 1;
}

@media (max-width: 600px) {
  .place {
    min-width: 100vw;
  }
}

.place .town-name {
  text-align: center;
  margin: 20px 0;
  font-size: 4rem;
}

.place .map_iframe {
  height: 90vh;
  width: 100%;
  border: solid 0 black;
}

.place .tmsn {
  cursor: pointer;
}

.place .tmsn img {
  height: 100px;
  width: 100px;
}

.poi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

@media (max-width: 1040px) {
  .poi {
    -ms-grid-columns: (minmax(33.3333%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(33.3333%, 1fr));
  }
}

@media (max-width: 900px) {
  .poi {
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media (max-width: 680px) {
  .poi {
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.poi .place {
  margin-left: 0 !important;
}

.poi .category {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.poi .category .place_info {
  margin: 10px 0;
}

.poi .category h1 {
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #8fbcbb;
  padding-bottom: 10px;
}

.center-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-wrapper {
  width: 270px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242933;
  -webkit-box-shadow: 4px 0px 9px 2px rgba(0, 0, 0, 0.59);
          box-shadow: 4px 0px 9px 2px rgba(0, 0, 0, 0.59);
  overflow: visible;
  z-index: 9;
}

.sidebar-wrapper .colapse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  z-index: 99;
  background: transparent;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
  margin: 10px 0;
  padding: 8px 0;
  margin-left: auto;
  border-radius: 50%;
}

.sidebar-wrapper .colapse img {
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar {
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow: auto;
  display: inline-block;
  position: relative;
}

.sidebar-wrapper .sidebar .search input {
  width: 100%;
  height: 40px;
  text-align: center;
  border: 0;
  margin-bottom: 20px;
  background: #2e3440;
  border-radius: 10px;
  font-size: 20px;
}

.sidebar-wrapper .sidebar .search input:focus {
  outline: none;
  background: #39404f;
}

.sidebar-wrapper .sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-wrapper .sidebar ul li {
  display: inherit;
  list-style: none;
  font-size: 1rem;
  width: 100%;
}

.sidebar-wrapper .sidebar ul li a {
  display: block;
  text-decoration: none;
  color: #eceff4;
  font-size: 20px;
  font-weight: normal;
  padding: 5px;
  width: 100%;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  border-left: 4px solid transparent;
  font-weight: 400;
  border-radius: 10px;
}

.sidebar-wrapper .sidebar ul li a:hover {
  background: #39404f;
}

.sidebar-wrapper .sidebar .sidebar-container {
  padding: 0px 30px;
  margin-top: 50px;
}

.sidebar-wrapper .sidebar .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5px 25px 5px;
}

.sidebar-wrapper .sidebar .filter summary {
  cursor: pointer;
}

.sidebar-wrapper .sidebar .filter label {
  margin: 2px 0;
}

.sidebar-wrapper .sidebar .filter label:first-child {
  margin-top: 15px;
}

.sidebar-wrapper .sidebar .filter span {
  text-transform: capitalize;
}

.sidebar-wrapper .sidebar .nav {
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.sidebar-wrapper .sidebar .nav .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 5px 0 5px;
}

.sidebar-wrapper .sidebar .nav .nav-buttons img {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.sidebar-wrapper .sidebar .nav .to-random {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0  0 30px 0;
  cursor: pointer;
}

.sidebar-wrapper .sidebar .nav .to-random img {
  height: 50px;
  width: 50px;
}

.no-items {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: auto;
}

.no-items .title span {
  color: #e75c5c;
}

.accordion {
  background: #4c566a;
  border-radius: 10px;
}

.accordion:not(:last-child) {
  margin-bottom: 10px;
}

.accordion .title {
  cursor: pointer;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  padding: 10px;
}

.accordion .title .place-name {
  margin: auto 0;
  width: 100%;
  font-weight: 500;
}

.accordion .title .more {
  position: relative;
  height: 40px;
  width: 40px;
  min-height: 10px;
}

.accordion .title .more::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #eceff4;
  -webkit-transition: width linear 0.2s;
  transition: width linear 0.2s;
}

.accordion .title .more::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #eceff4;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: -webkit-transform linear 0.2s;
  transition: -webkit-transform linear 0.2s;
  transition: transform linear 0.2s;
  transition: transform linear 0.2s, -webkit-transform linear 0.2s;
}

.accordion .title .more.open::before {
  width: 0;
}

.accordion .title .more.open::after {
  -webkit-transform: translate(50%, -50%) rotate(90deg);
          transform: translate(50%, -50%) rotate(90deg);
}

.accordion .content {
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.accordion .content hr {
  height: 1px;
  border: none;
  background-color: #8fbcbb;
}

.accordion .content .wrapper {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.accordion .content .wrapper a {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8fbcbb;
}

.MuiCheckbox-root {
  padding: 0 !important;
}

.floating {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 70px;
  background: #353c4b;
  margin: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 0;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.floating.show {
  opacity: 1 !important;
  pointer-events: unset;
  -webkit-user-select: unset;
     -moz-user-select: unset;
      -ms-user-select: unset;
          user-select: unset;
}

.floating img {
  height: 35px !important;
  width: 35px !important;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 600px) {
  .floating {
    height: 50px !important;
    width: 50px !important;
    margin: 10px;
  }
  .floating img {
    height: 30px !important;
    width: 30px !important;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  min-width: 500px;
}

@media (max-width: 600px) {
  .lds-ripple {
    width: 300px;
    height: 300px;
    min-width: 300px;
  }
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.city-loader {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.place-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.place-loader .lds-ripple {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  min-width: 100px;
}

.loader {
  height: 100vh;
  width: 100%;
  background: #242933;
}
/*# sourceMappingURL=style.css.map */