* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif !important;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.place {
    width: 100%;
    min-height: 100vh;
    padding: 20px 10px;


    .tmsn {
        cursor: pointer;

        img{
            height: 100px;
            width: 100px;
        }
    }

}

.poi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%,1fr));
    @media(max-width:1040px){
        grid-template-columns: repeat(auto-fit, minmax(33.3333%,1fr));
    }
    @media(max-width:900px){
        grid-template-columns: repeat(auto-fit, minmax(50%,1fr));
    }
    @media(max-width:680px){
        grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
    }

    .category{
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        margin: 10px;
        .place_info{
            margin: 10px 0;
        }
        h1{
            text-transform: capitalize;
            font-size: 1.3rem;
            margin-bottom: 10px;
        }
    }
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-wrapper {
    position: relative;
    min-width: 250px; 
    height: 100%;
    .sidebar {
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 250px; //must be same width as sidebar wrapper
        height: 100vh;
        min-width: 200px;
        overflow: scroll;
        .search {
            padding-bottom: 20px;

            input {
                width: 100%;
                height: 35px;
                border-radius: 30px;
                text-align: center;
                border: 0;
            }
        }

        ul {
            li {
                list-style: none;
                font-size: 1rem;
                padding: 5px 0;
                
                &:hover{
                    background-color: black;
                    a{
                        color: white;
                    }
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 1.3rem;

                    
                }
            }
        }

        .container {
            padding: 10px;
        }
        .filter{
            display: flex;
            flex-direction: column;
            
        }
        .nav {
            font-size: 1rem;
            display: inline-block;
            text-align: center;
            width: 100%;

            span {
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin: 20px;
                img{
                    cursor: pointer;
                    height: 30px;
                    width: 30px;
                }
                .larger-svg{
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}
.MuiCheckbox-root{
    padding: 0 !important;
}